<!doctype html>
<html lang="en">

</html>
<!-- <title>{% block title %}{% endblock %} - GRANDLINE.ONE</title> -->
<title>some title</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<nav class="inner">hello</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
</section>