{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<!-- # new blueprint called api or something to be used by js
# js asks flask for json
# render around it
# 1. get all teams active for a season https://v3.football.api-sports.io/teams?league=39&season=2022
# 1.5 function to pull from different tables and marry teams + season
# 2. get all fixtures for t team https://v3.football.api-sports.io/fixtures?league=39&season=2022&team=42
# 3. get all players who participated in that fixture (for main team) https://v3.football.api-sports.io/fixtures/players?fixture=867946&team=42 -->


<body>
    <!-- #01141c -->
    <!-- <div style="background-color: #fff; width: inherit"> -->
    <div class="container center">
        <h1 class="cfg-reg-yellow display-2" style="margin-top: 55px;">predict a thing!</h2>
        <h2 class="cfg-reg-yellow">arsenal only!</h2>
        <br>
        <br>
        <form class="cfg-reg-yellow">

            <div class="mb-5 form-group">
                <label for="mainTeamForm" class="form-label">main team</label>
                <select class="form-control" id="mainTeamForm" name="main_team">
                    <option value="none" selected disabled hidden>select team</option>
                    {% for t in teams %}
                    <option value="{{t.team_id}}">{{t.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="spinner-border" role="status" style="display:none; margin: 0 auto;" id="spinner-border">
                <span class="visually-hidden"></span>
            </div>

            <div class="mb-5 form-group" style="display:none">
                <label for="mainTeamFixtureInput" class="form-label">fixture</label>
                <select class="form-control" id="mainTeamFixtureInput">
                    <option value="none" selected disabled hidden>select fixture</option>
                </select>
            </div>

            <div class="mb-5 form-group" style="display:none" id="showHomeAwayTeams">
                <label for="homeGoals" class="form-label">home goals</label>
                <input type="number" class="form-control" id="homeGoals" value="">
                <label for="awayGoals" class="form-label">away goals</label>
                <input type="number" class="form-control" id="awayGoals" value="">
            </div>
        </form>
    </div>
    <!-- </div> -->
</body>


<script>
    const mainTeamForm = document.getElementById('mainTeamForm');
    mainTeamForm.addEventListener('input', spawnFixtures);

    const fixtureForm = document.getElementById('mainTeamFixtureInput');
    // console.log(fixtureForm)

    // fixtureForm.addEventListener('input', function(){spawnHomeAwayTeams(home, away)});
    fixtureForm.addEventListener('input', spawnHomeAwayTeams);


    async function spawnFixtures(e) {
        // console.log(mainTeamInput.options[mainTeamInput.selectedIndex].text)
        // to do: automatically remove all child changes if mainTeamInput changes
        // hide everything, then call updateValue on mainTeamInput

        var val = "";

        if (e.target.value == "") {
            fixtureForm.parentElement.style.display = "none";
        } else {
            // await fetch('/api/fixtures', { 
            //         method: "POST", 
            //         body: JSON.stringify({"team": input.options[input.selectedIndex].value}),
            //         headers: {
            //             'Content-Type': 'application/json'
            //         }
            //     })
            spinner = document.getElementById("spinner-border")
            if (spinner) {
                spinner.style.display = "block";
            }

            await fetch('/api/fixtures?team=' + mainTeamForm.options[mainTeamForm.selectedIndex].value, { 
                    method: "GET", 
                    // body: JSON.stringify({"team": input.options[input.selectedIndex].value}),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then((response) => response.json())
                .then((data) => {
                    fixtureForm.value = data;
                    fixtureForm.parentElement.style.display = "block";
                    // console.log(data);

                    // remove all old children created from selecting a team before creating new ones
                    var fixtureOption = document.getElementsByClassName('fixtureOption');
                    if (fixtureOption) {
                        removeElementsByClass("fixtureOption")
                    }

                    var init_opt = document.createElement("option")
                    init_opt.setAttribute("class", "fixtureOption")
                    init_opt.innerHTML = "select fixture"
                    fixtureForm.appendChild(init_opt);

                    for (fixture in data) {
                        var opt = document.createElement("option");
                        opt.setAttribute("class", "fixtureOption");
                        home = data[fixture].home
                        away = data[fixture].away
                        opt.innerHTML = data[fixture].home + " v " + data[fixture].away + " | " + data[fixture].date ;
                        fixtureForm.appendChild(opt);
                    }
                    // document.getElementById('mainTeamOutput').value=data; 
                }).catch((err) => alert(err));
        }
        if (spinner) {
                spinner.style.display = "none";
        }
    }


    function removeElementsByClass(className){
        const elements = document.getElementsByClassName(className);
        while(elements.length > 0){
            elements[0].parentNode.removeChild(elements[0]);
        }
}


    async function spawnHomeAwayTeams() {
        var home_team_input = document.createElement("input");
        var away_team_input = document.createElement("input");
        // await new Promise(r => setTimeout(r, 1000));
        var unhide_home_away = document.getElementById("showHomeAwayTeams")
        unhide_home_away.style = "display: block";
        

        // console.log(home)
        // console.log(away)

        // const homeGoals = document.getElementById('homeGoals');
        // // console.log(homeTeam)
        // const awayGoals = document.getElementById('awayGoals');

        // homeTeam.value = home
        // // homeTeam.appendChild(home);

        // awayTeam.value = away
        // awayTeam.appendChild(away);
    }
</script>








<!-- <body>
    <h1 class="cfg-reg-yellow">OPA/Rego Football Prediction League Scoring Calculator</h1>
    <div class="row">
        <div class="column" style="padding-left: 20px;">
            <h2 class="cfg-reg-yellow">select a team to begin:</h2>
            <div class="form-group">
                <label for="exampleFormControlSelect1">main team</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    {% for p in players %}
                        <option value="{{p.player_name}}">{{p.player_name}}</option>
                    {% endfor %}
                </select>
            </div> -->



<!-- <form action="/" method="post">
                <h1 class="cfg-reg-yellow">input</h1>
                <div class="field">
                    <label for="name">home team:</label>
                    <input type="text" id="name" name="home_team" placeholder="home team name" value="arsenal" />
                    <small></small>
                </div>
                <div class="field">
                    <label for="name">home goals:</label>
                    <input type="text" id="name" name="home_goals" placeholder="home team goals" value="4" />
                    <small></small>
                </div>
                <div class="field">
                    <label for="name">away team:</label>
                    <input type="text" id="name" name="away_team" placeholder="away team name" value="leicester" />
                    <small></small>
                </div>
                <div class="field">
                    <label for="name">away goals:</label>
                    <input type="text" id="name" name="away_goals" placeholder="away team goals" value="" />
                    <small></small>
                </div>
                <div class="field">
                <label for="scorers">choose scorer(s):</label>
                <select name="players" id="players" multiple size="8">
                    {% for p in players %}
                        <option value="{{p.player_name}}">{{p.player_name}}</option>
                    {% endfor %}
                </select>
                </div>
                <br><br>
                <input type="submit" value="does nothing">
            </form> -->



<!-- </div>
    </div>
</body> -->
{% endblock %}